div.ReactGridGallery_tile-bottom-bar:hover {
  opacity: 1;
}

div.ReactGridGallery_tile-bottom-bar {
  opacity: 0;
  transition: 1s;
}

div#lightboxBackdrop {
  z-index: 10;
  background: #ffffffc9;
}

div#lightboxBackdrop img {
  box-shadow: 5px 10px 18px #888888;
}